.dex {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.1rem;
	margin: 0.5rem 0;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.1rem;
	padding: 0.3rem;
}

.load-button {
	margin: 0.1rem 0.5rem 1rem 0.5rem;
}

.button {
	background-color: #b68711;
	color: #fdfdfd;
	font-family: 'Arial Narrow Bold', sans-serif;
	border-radius: 15px;
	padding: 0.5rem 1.5rem;
	text-align: center;
	font-weight: bold;
	width: fit-content;
	text-align: center;
}

.button:hover {
	cursor: pointer;
	background-color: #deac2d;
}

.bottom-buttons {
	display: flex;
}

.randomize-button {
	background-color: black;
	color: white;
}

.randomize-button:hover {
	background-color: white;
	color: black;
}